name: Publish Site

on: [push]
permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update theme
        run: git submodule update --init --recursive

      - name: Build
        run: |
          sudo apt install hugo
          hugo

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs
